.search-page_305-66 {

  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 1728px;
  height: 1255px;
}
.text-citroen-c3-i-fc---fn---1-6-16v-hdi_305-259 {
  top: -171px;
  left: 1055px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 185px;
  height: 21px;
}

.text-10-2005---12-2009_305-260 {
  top: -171px;
  left: 1319px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 143px;
  height: 21px;
}

.material-symbols-light-print_305-266 {
  top: -168px;
  left: 926px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-267 {
  top: 6px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-483_305-70 {
  top: 169px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-rechercher-1v-_305-71 {
  top: 179px;
  left: 14px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 137px;
  height: 18px;
}

.text-modele_305-72 {
  top: 179px;
  left: 294px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 72px;
  height: 18px;
}

.text-annee_305-73 {
  top: 179px;
  left: 467px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 61px;
  height: 18px;
}

.text-pg_305-74 {
  top: 179px;
  left: 627px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 28px;
  height: 18px;
}

.text-sg_305-75 {
  top: 179px;
  left: 742px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 28px;
  height: 18px;
}

.text-planche_305-76 {
  top: 179px;
  left: 865px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 86px;
  height: 18px;
}

.uiw-down-square_305-77 {
  top: 208px;
  left: 246px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 35px;
  height: 35px;
}

.uiw-down-square_305-78 {
  top: 208px;
  left: 416px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 35px;
  height: 35px;
}

.uiw-down-square_305-79 {
  top: 208px;
  left: 579px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 35px;
  height: 35px;
}

.uiw-down-square_305-80 {
  top: 208px;
  left: 694px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 35px;
  height: 35px;
}

.uiw-down-square_305-81 {
  top: 208px;
  left: 809px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 35px;
  height: 35px;
}

.uiw-down-square_305-82 {
  top: 208px;
  left: 961px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 35px;
  height: 35px;
}

.rectangle-517_305-120 {
  top: 294px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-525_305-121 {
  top: 294px;
  left: 541px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-528_305-124 {
  top: 294px;
  left: 693px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-522_305-125 {
  top: 349px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-523_305-126 {
  top: 399px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-524_305-127 {
  top: 449px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-518_305-128 {
  top: 294px;
  left: 47px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-502_305-129 {
  top: 176px;
  left: 1451px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-510_305-130 {
  top: 176px;
  left: 1590px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-503_305-131 {
  top: 176px;
  left: 1491px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-511_305-132 {
  top: 176px;
  left: 1630px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-504_305-133 {
  top: 176px;
  left: 1531px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-512_305-134 {
  top: 176px;
  left: 1670px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-506_305-135 {
  top: 219px;
  left: 1451px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-514_305-136 {
  top: 219px;
  left: 1590px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-507_305-137 {
  top: 219px;
  left: 1492px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-515_305-138 {
  top: 219px;
  left: 1630px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-508_305-139 {
  top: 219px;
  left: 1533px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-516_305-140 {
  top: 219px;
  left: 1670px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-536_305-164 {
  top: 891px;
  left: 21px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-12-48--_305-177 {
  top: 887px;
  left: 1479px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 36px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 139px;
  height: 44px;
}

.rectangle-538_305-178 {
  top: 1035px;
  left: 1355px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-ajouter-au-panier_305-179 {
  top: 1046px;
  left: 1459px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 174px;
  height: 27px;
}

.text-1_305-180 {
  top: 997px;
  left: 1394px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 24px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 14px;
  height: 26px;
}

.text-20--de-tva-inclus--hors-frais-de-livraison_305-181 {
  top: 926px;
  left: 1480px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 215px;
  height: 44px;
}

.text-en-stock_305-182 {
  top: 1001px;
  left: 1549px;
  position: absolute;
  display: flex;
  color: #12f078;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 93px;
  height: 29px;
}

.guidance-shop_305-183 {
  top: 881px;
  left: 1351px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-184 {
  top: 6px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.guidance-shop_305-185 {
  top: 1043px;
  left: 1411px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-186 {
  top: 2px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-537_305-187 {
  top: 990px;
  left: 1373px;
  position: absolute;
  display: flex;
  display: flex;
}

.header_305-188 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 1728px;
  height: 171px;
}
.rectangle-482_305-189 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-485_305-190 {
  top: 137px;
  left: 191px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-484_305-191 {
  top: 83px;
  left: 14px;
  position: absolute;
  display: flex;
  display: flex;
}

.menu-item_305-192 {
  top: 43px;
  left: 213px;
  position: absolute;
  display: flex;
  width: 1481px;
  height: 78px;
}
.text-proposition-1v-_305-193 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 203px;
  height: 27px;
}

.text-stock_305-194 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 80px;
  height: 27px;
}

.text-eteint_305-195 {
  color: #d9d9d9;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 64px;
  height: 27px;
}

.text-allume_305-196 {
  color: #d9d9d9;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 87px;
  height: 27px;
}

.text-actif_305-197 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 56px;
  height: 19px;
}

.text-bon-de-materiel_305-198 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 218px;
  height: 27px;
}

.text-bon-de-commande-collectif_305-199 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 318px;
  height: 27px;
}

.ellipse-93_305-200 {
  display: flex;
}

.ellipse-94_305-201 {
  display: flex;
}

.ellipse-95_305-202 {
  display: flex;
}

.bi-person-circle_305-203 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.group_305-204 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
}
.vector_305-205 {
  display: flex;
}

.vector_305-206 {
  display: flex;
}

.guidance-shop_305-207 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-208 {
  top: 2px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-mon-panier_305-209 {
  color: #ffffff;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 92px;
  height: 18px;
}

.text-mon-compte_305-210 {
  color: #ffffff;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 103px;
  height: 18px;
}

.submenu-item_305-211 {
  top: 136px;
  left: 213px;
  position: absolute;
  display: flex;
  width: 1492px;
  height: 35px;
}
.text-epc_305-212 {
  color: #000000;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 45px;
  height: 18px;
}

.text-acc_305-213 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 44px;
  height: 18px;
}

.text-tyres_305-214 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 66px;
  height: 18px;
}

.text-tools_305-215 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 69px;
  height: 18px;
}

.text-nora_305-216 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 63px;
  height: 18px;
}

.text-infoline_305-217 {
  color: #d9d9d9e5;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 92px;
  height: 18px;
}

.text-autopart_305-218 {
  color: #d9d9d9e5;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 107px;
  height: 18px;
}

.text-subsistance-chimique_305-219 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 246px;
  height: 18px;
}

.text-pieces-d-origine_305-220 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 206px;
  height: 18px;
}

.text-pieces-compatible_305-221 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 218px;
  height: 18px;
}

.line-17_305-222 {
  display: flex;
}

.line-18_305-223 {
  display: flex;
}

.line-19_305-224 {
  display: flex;
}

.line-20_305-225 {
  display: flex;
}

.line-21_305-226 {
  display: flex;
}

.line-22_305-227 {
  display: flex;
}

.rectangle-531_305-228 {
  display: flex;
}

.rectangle-532_305-229 {
  display: flex;
}

.uiw-down-square_305-230 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-231 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.teenyicons-down-solid_305-232 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-233 {
  top: 5px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.teenyicons-down-solid_305-236 {
  top: 223px;
  left: 1699px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-237 {
  top: 7px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-240 {
  top: 1016px;
  left: 1451px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-539_305-241 {
  top: 857px;
  left: 21px;
  position: absolute;
  display: flex;
  display: flex;
}

.teenyicons-up-solid_305-242 {
  top: 996px;
  left: 1451px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-243 {
  top: 3px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.streamline-check-solid_305-244 {
  top: 995px;
  left: 1506px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-245 {
  top: 2px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-28_305-248 {
  top: 926px;
  left: 22px;
  position: absolute;
  display: flex;
  display: flex;
}

.searchbar_305-274 {
  top: 206px;
  left: 14px;
  position: absolute;
  display: flex;
  width: 270px;
  height: 40px;
}
.rectangle-486_305-275 {
  display: flex;
}

.vector_305-276 {
  display: flex;
}

.text-wauzzz8k8da066266_305-277 {
  color: #000000;
  font-size: 12px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 214px;
  height: 21px;
}

.model-search_305-278 {
  top: 206px;
  left: 294px;
  position: absolute;
  display: flex;
  width: 160px;
  height: 40px;
}
.rectangle-487_305-279 {
  display: flex;
}

.vector_305-280 {
  display: flex;
}

.text-a4_305-281 {
  color: #000000;
  font-size: 18px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 48px;
  height: 21px;
}

.annee-search_305-282 {
  top: 206px;
  left: 467px;
  position: absolute;
  display: flex;
  width: 150px;
  height: 40px;
}
.rectangle-488_305-283 {
  display: flex;
}

.vector_305-284 {
  display: flex;
}

.text-2013--d-_305-285 {
  color: #000000;
  font-size: 18px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 86px;
  height: 21px;
}

.pg-search_305-286 {
  top: 206px;
  left: 627px;
  position: absolute;
  display: flex;
  width: 105px;
  height: 40px;
}
.rectangle-489_305-287 {
  display: flex;
}

.vector_305-288 {
  display: flex;
}

.text-2_305-289 {
  color: #000000;
  font-size: 18px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 18px;
  height: 21px;
}

.sg-search_305-290 {
  top: 206px;
  left: 742px;
  position: absolute;
  display: flex;
  width: 105px;
  height: 40px;
}
.rectangle-490_305-291 {
  display: flex;
}

.vector_305-292 {
  display: flex;
}

.text-04_305-293 {
  color: #000000;
  font-size: 18px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 29px;
  height: 21px;
}

.planche-search_305-294 {
  top: 206px;
  left: 864px;
  position: absolute;
  display: flex;
  width: 135px;
  height: 40px;
}
.rectangle-491_305-295 {
  display: flex;
}

.vector_305-296 {
  display: flex;
}

.text-201-080_305-297 {
  color: #000000;
  font-size: 18px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 79px;
  height: 21px;
}

.bx-zoom-in_305-298 {
  top: 354px;
  left: 9px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-299 {
  top: 9px;
  left: 9px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-300 {
  top: 3px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.mdi-zoom-out_305-301 {
  top: 404px;
  left: 7px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-302 {
  top: 3px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.carbon-zoom-fit_305-303 {
  top: 454px;
  left: 7px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-304 {
  top: 2px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-305 {
  top: 9px;
  left: 9px;
  position: absolute;
  display: flex;
  display: flex;
}

.cil-search_305-306 {
  top: 296px;
  left: 6px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-307 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.fontisto-arrow-right-l_305-308 {
  top: 299px;
  left: 698px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-309 {
  top: 8px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-29_305-310 {
  top: 2px;
  left: 8px;
  position: absolute;
  display: flex;
  display: flex;
}

.mdi-video-3d_305-311 {
  top: 296px;
  left: 543px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-312 {
  top: 10px;
  left: 7px;
  position: absolute;
  display: flex;
  display: flex;
}

.card-print_305-313 {
  top: 176px;
  left: 1261px;
  position: absolute;
  display: flex;
  width: 35px;
  height: 35px;
}
.rectangle-493_305-314 {
  display: flex;
}

.imprimante_305-315 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-316 {
  top: 6px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.card-loop_305-317 {
  top: 176px;
  left: 1341px;
  position: absolute;
  display: flex;
  width: 35px;
  height: 35px;
}
.rectangle-496_305-318 {
  display: flex;
}

.ion-binoculars-sharp_305-319 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-320 {
  top: 4px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.doc-left_1055-2210 {
  top: 181px;
  left: 1628px;
  position: absolute;
  display: flex;
  width: 38px;
  height: 24px;
}
.jam-document_305-415 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-416 {
  top: 2px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.teenyicons-down-solid_305-238 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-239 {
  top: 5px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.card-break_305-321 {
  top: 176px;
  left: 1301px;
  position: absolute;
  display: flex;
  width: 35px;
  height: 35px;
}
.rectangle-495_305-322 {
  display: flex;
}

.icon-park-outline-brake-pads_305-323 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.group_305-324 {
  top: 3px;
  left: 5px;
  position: absolute;
  display: flex;
  width: 23px;
  height: 23px;
}
.vector_305-325 {
  display: flex;
}

.vector_305-326 {
  display: flex;
}

.card-key_305-332 {
  top: 219px;
  left: 1301px;
  position: absolute;
  display: flex;
  width: 115px;
  height: 35px;
}
.card-arr_305-327 {
  width: 35px;
  height: 35px;
}
.rectangle-500_305-328 {
  display: flex;
}

.rect-tiret_305-329 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.line-30_305-331 {
  top: 19px;
  left: 9px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-330 {
  top: 5px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-498_305-333 {
  display: flex;
}

.vaadin-key_305-334 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-335 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.card-car_305-336 {
  top: 219px;
  left: 1341px;
  position: absolute;
  display: flex;
  width: 35px;
  height: 35px;
}
.rectangle-499_305-337 {
  display: flex;
}

.car_305-338 {
  display: flex;
}

.noto-shopping-cart_305-339 {
  top: 221px;
  left: 1565px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-340 {
  top: 1px;
  left: 26px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-341 {
  top: 18px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-342 {
  top: 18px;
  left: 14px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-343 {
  top: 18px;
  left: 13px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-344 {
  top: 7px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-345 {
  top: 7px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-346 {
  top: 26px;
  left: 17px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-347 {
  top: 25px;
  left: 18px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-348 {
  top: 26px;
  left: 18px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-349 {
  top: 25px;
  left: 18px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-350 {
  top: 27px;
  left: 17px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-351 {
  top: 2px;
  left: 23px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-352 {
  top: 26px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-353 {
  top: 25px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-354 {
  top: 26px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-355 {
  top: 25px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-356 {
  top: 27px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.shop_1055-2209 {
  top: 179px;
  left: 1535px;
  position: absolute;
  display: flex;
  width: 27px;
  height: 29px;
}
.noto-shopping-cart_305-357 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-358 {
  top: 0px;
  left: 12px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-359 {
  top: 9px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-360 {
  top: 8px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-361 {
  top: 8px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-362 {
  top: 3px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-363 {
  top: 3px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-364 {
  top: 12px;
  left: 8px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-365 {
  top: 12px;
  left: 8px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-366 {
  top: 12px;
  left: 9px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-367 {
  top: 12px;
  left: 8px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-368 {
  top: 13px;
  left: 8px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-369 {
  top: 1px;
  left: 11px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-370 {
  top: 12px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-371 {
  top: 12px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-372 {
  top: 12px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-373 {
  top: 12px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-374 {
  top: 13px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.noto-shopping-cart_305-375 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-376 {
  top: 0px;
  left: 12px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-377 {
  top: 9px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-378 {
  top: 8px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-379 {
  top: 8px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-380 {
  top: 3px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-381 {
  top: 3px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-382 {
  top: 12px;
  left: 8px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-383 {
  top: 12px;
  left: 8px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-384 {
  top: 12px;
  left: 9px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-385 {
  top: 12px;
  left: 8px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-386 {
  top: 13px;
  left: 8px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-387 {
  top: 1px;
  left: 11px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-388 {
  top: 12px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-389 {
  top: 12px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-390 {
  top: 12px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-391 {
  top: 12px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-392 {
  top: 13px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.elba_305-393 {
  top: 179px;
  left: 1452px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 33px;
  height: 30px;
}
.vector_305-394 {
  top: 0px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-31_305-395 {
  top: 10px;
  left: 21px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-32_305-396 {
  top: 10px;
  left: 24px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-33_305-397 {
  top: 10px;
  left: 27px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-34_305-398 {
  top: 10px;
  left: 30px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-elba_305-399 {
  top: 19px;
  left: 5px;
  position: absolute;
  display: flex;
  color: #545454;
  font-size: 10px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 26px;
  height: 10px;
}

.pc_305-400 {
  top: 224px;
  left: 1451px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 33px;
  height: 30px;
}
.vector_305-401 {
  top: 0px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-31_305-402 {
  top: 8px;
  left: 16px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-32_305-403 {
  top: 8px;
  left: 19px;
  position: absolute;
  display: flex;
  display: flex;
}

.ant-design-database-filled_305-404 {
  top: 1px;
  left: 20px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-405 {
  top: 1px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.entypo-classic-computer_305-406 {
  top: 178px;
  left: 1491px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 33px;
  height: 30px;
}
.vector_305-407 {
  top: 0px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-31_305-408 {
  top: 10px;
  left: 21px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-32_305-409 {
  top: 10px;
  left: 24px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-33_305-410 {
  top: 10px;
  left: 27px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-34_305-411 {
  top: 10px;
  left: 30px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-depot_305-412 {
  top: 19px;
  left: 1px;
  position: absolute;
  display: flex;
  color: #d9d9d9e5;
  font-size: 10px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 34px;
  height: 10px;
}

.doc-right_1055-2211 {
  top: 182px;
  left: 1669px;
  position: absolute;
  display: flex;
  width: 37px;
  height: 24px;
}
.teenyicons-down-solid_305-234 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-235 {
  top: 5px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.jam-document_305-413 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-414 {
  top: 2px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.ri-skip-back-fill_305-417 {
  top: 221px;
  left: 1631px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-418 {
  top: 5px;
  left: 8px;
  position: absolute;
  display: flex;
  display: flex;
}

.ri-skip-back-fill_305-419 {
  top: 220px;
  left: 1594px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-420 {
  top: 5px;
  left: 8px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-31_305-421 {
  top: 25px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.bi-pin-fill_305-422 {
  top: 178px;
  left: 1608px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-423 {
  top: 0px;
  left: 5px;
  position: absolute;
  display: flex;
  display: flex;
}

.card-ae_305-424 {
  top: 176px;
  left: 1381px;
  position: absolute;
  display: flex;
  width: 35px;
  height: 35px;
}
.rectangle-497_305-425 {
  display: flex;
}

.capture-d-e-cran-2024-09-21-a--17-14-02-removebg-preview-1_305-426 {
  display: flex;
}

.capture-d-e-cran-2024-09-21-a--17-13-35-removebg-preview-1_305-427 {
  top: 224px;
  left: 1495px;
  position: absolute;
  display: flex;
  display: flex;
}

.card-icon_310-109 {
  top: 294px;
  left: 643px;
  position: absolute;
  display: flex;
  width: 40px;
  height: 40px;
}
.rectangle-527_305-123 {
  display: flex;
}

.icon-park-grid-three_305-428 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.group_305-429 {
  top: 4px;
  left: 4px;
  position: absolute;
  display: flex;
  width: 23px;
  height: 23px;
}
.vector_305-430 {
  display: flex;
}

.vector_305-431 {
  display: flex;
}

.vector_305-432 {
  display: flex;
}

.gg-menu-grid-r_305-433 {
  top: 295px;
  left: 604px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 39px;
  height: 38px;
}

.card-icon_310-108 {
  top: 294px;
  left: 593px;
  position: absolute;
  display: flex;
  display: flex;
}
.rectangle-526_305-122 {
  display: flex;
}

.group-1171274817_1055-2212 {
  width: 34px;
  height: 25px;
}
.vector_305-434 {
  display: flex;
}

.rectangle-540_305-435 {
  display: flex;
}

.polygon-1_305-436 {
  display: flex;
}

.carbon-document-configuration_305-439 {
  top: 871px;
  left: 88px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-440 {
  top: 3px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_305-441 {
  top: 26px;
  left: 10px;
  position: absolute;
  display: flex;
  display: flex;
}

.card-clim_305-442 {
  top: 219px;
  left: 1261px;
  position: absolute;
  display: flex;
  width: 35px;
  height: 35px;
}
.rectangle-494_305-443 {
  display: flex;
}

.reglage_305-444 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_305-445 {
  top: 4px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.selected-car_305-447 {
  top: 178px;
  left: 1051px;
  position: absolute;
  display: flex;
  width: 157px;
  height: 76px;
}
.rectangle-492_305-448 {
  display: flex;
}

.rectangle-533_305-449 {
  display: flex;
}

.tableau_310-111 {
  top: 344px;
  left: 743px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 963px;
  height: 511px;
}
.group-1171274708_310-49 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 963px;
  height: 511px;
}
.rectangle-482_310-50 {
  display: flex;
}

.rectangle-479_310-52 {
  top: 18px;
  left: 23px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-pos-_310-53 {
  top: 37px;
  left: 39px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 54px;
  height: 27px;
}

.text-ref--piece_310-54 {
  top: 37px;
  left: 124px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 110px;
  height: 27px;
}

.text-designation_310-55 {
  top: 37px;
  left: 324px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 133px;
  height: 27px;
}

.text-qte_310-56 {
  top: 37px;
  left: 720px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 41px;
  height: 27px;
}

.text-info--modele_310-57 {
  top: 37px;
  left: 805px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 139px;
  height: 27px;
}

.text-remarque_310-58 {
  top: 37px;
  left: 551px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 136px;
  height: 27px;
}

.rectangle-542_310-59 {
  top: 270px;
  left: 24px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-clip_310-60 {
  top: 84px;
  left: 374px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 35px;
  height: 23px;
}

.text-clip_310-61 {
  top: 227px;
  left: 374px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 35px;
  height: 23px;
}

.text-tube-d-aeration_310-62 {
  top: 156px;
  left: 316px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 151px;
  height: 22px;
}

.text-tube-d-aeration_310-63 {
  top: 299px;
  left: 316px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 151px;
  height: 22px;
}

.text-tube-d-aeration_310-64 {
  top: 372px;
  left: 316px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 151px;
  height: 23px;
}

.text-1h9-609-738-a_310-65 {
  top: 84px;
  left: 118px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 151px;
  height: 23px;
}

.text-1h9-609-738-a_310-66 {
  top: 227px;
  left: 118px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 151px;
  height: 23px;
}

.text-8k0-971-850-c_310-67 {
  top: 156px;
  left: 118px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 142px;
  height: 22px;
}

.text-8k0-971-850-c_310-68 {
  top: 299px;
  left: 118px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 142px;
  height: 22px;
}

.text-8k0-971-850-c_310-69 {
  top: 372px;
  left: 118px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 142px;
  height: 23px;
}

.text-1_310-70 {
  top: 84px;
  left: 54px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 13px;
  height: 23px;
}

.text-9_310-71 {
  top: 227px;
  left: 54px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 13px;
  height: 23px;
}

.text-8_310-72 {
  top: 156px;
  left: 53px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 12px;
  height: 22px;
}

.text-10_310-73 {
  top: 299px;
  left: 53px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 26px;
  height: 22px;
}

.text-10_310-74 {
  top: 372px;
  left: 53px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 26px;
  height: 23px;
}

.text-x_310-75 {
  top: 84px;
  left: 735px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 9px;
  height: 23px;
}

.text-x_310-76 {
  top: 227px;
  left: 735px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 9px;
  height: 23px;
}

.text-1_310-77 {
  top: 156px;
  left: 735px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 14px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 9px;
  height: 22px;
}

.text-1_310-78 {
  top: 299px;
  left: 735px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 14px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 9px;
  height: 22px;
}

.text-1_310-79 {
  top: 372px;
  left: 735px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 14px;
  font-family: Scada;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 9px;
  height: 23px;
}

.line-29_310-80 {
  top: 117px;
  left: 24px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-30_310-81 {
  top: 189px;
  left: 24px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-31_310-82 {
  top: 260px;
  left: 24px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-32_310-83 {
  top: 332px;
  left: 24px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-33_310-84 {
  top: 405px;
  left: 24px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-1---12_310-85 {
  top: 447px;
  left: 584px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 69px;
  height: 28px;
}

.text-pr-c-dent_310-86 {
  top: 447px;
  left: 360px;
  position: absolute;
  display: flex;
  color: #231f20;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 134px;
  height: 28px;
}

.text-suivant_310-87 {
  top: 447px;
  left: 762px;
  position: absolute;
  display: flex;
  color: #231f20;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 97px;
  height: 28px;
}

.x----icon--arrow-next-_310-88 {
  top: 445px;
  left: 910px;
  position: absolute;
  display: flex;
  display: flex;
}
.vector_310-89 {
  display: flex;
}

.x----icon--arrow-next-_310-90 {
  top: 473px;
  left: 331px;
  position: absolute;
  display: flex;
  display: flex;
}
.vector_310-91 {
  display: flex;
}

.x----icon--navigate-next-_310-92 {
  top: 432px;
  left: 673px;
  position: absolute;
  display: flex;
  display: flex;
}
.vector_310-93 {
  display: flex;
}

.vector_310-94 {
  display: flex;
}

.x----icon--navigate-next-_310-95 {
  top: 489px;
  left: 589px;
  position: absolute;
  display: flex;
  display: flex;
}
.vector_310-96 {
  display: flex;
}

.vector_310-97 {
  display: flex;
}

.rectangle-482_305-141 {
  top: 344px;
  left: 150px;
  position: absolute;
  display: flex;
  display: flex;
}

.thead_317-144 {
  top: 927px;
  left: 18px;
  position: absolute;
  display: flex;
  width: 1300px;
  height: 67px;
}
.rectangle-479_317-145 {
  display: flex;
}

.text-car_317-146 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 75px;
  height: 23px;
}

.text-reference-piece_317-147 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 135px;
  height: 24px;
}

.text-designation_317-148 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 100px;
  height: 24px;
}

.text-remarque_317-149 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 83px;
  height: 18px;
}

.text-quantite_317-151 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 81px;
  height: 18px;
}

.text-info-modele_317-152 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 93px;
  height: 18px;
}

.text-tube-d-aeration_317-155 {
  top: 1008px;
  left: 457px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 143px;
  height: 21px;
}

.text-10_317-163 {
  top: 1008px;
  left: 77px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 25px;
  height: 21px;
}

.text-1_317-160 {
  top: 1008px;
  left: 967px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 14px;
  height: 21px;
}

.text-8k0-971-850-c_317-164 {
  top: 1008px;
  left: 230px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  line-height: 40px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 123px;
  height: 21px;
}

.footer_317-171 {
  top: 1151px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 1728px;
  height: 104px;
}
.rectangle-541_305-446 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.foot_317-170 {
  top: 40px;
  left: 554px;
  position: absolute;
  display: flex;
  width: 621px;
  height: 24px;
}
.text-declaration-de-confidentialit-_317-165 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 290px;
  height: 24px;
}

.text-licence_317-167 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 77px;
  height: 24px;
}

.text-mention-legale_317-166 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 146px;
  height: 24px;
}

.line-35_317-168 {
  display: flex;
}

.line-36_317-169 {
  display: flex;
}
