.container-fluid {
    background-color: #0C4EB1;
    }
    .navbar-nav{
      margin-left: 5%;
      width: 100%;
    }
    .nav-item a{
      color: white;
      height: 15px;
    }
    .nav-link.active{
      background-color: #CBEAFF;
      height: 36px!important;
      border-radius: 10px 10px 0px 0px;
      color: black!important;
      font-weight: bold;
    }
    .head-searchbar{
      border: 1px solid white;
      width: 90%;
      height: 32px;
      color: white;
      border-radius: 4px;
      text-align: center;
      // padding-left: 3px;
    }
    .check{
      position: relative;
      bottom: 1px;
      left: 3px;
    }
    
    .searchbar{
        // padding-bottom: 2px;
        border: 1px solid #0078AA;
        width: 80%;
        height: 32px;
        border-radius: 4px;
        
    }
    .devider{
      border: 1px solid #CBEAFF;
      height: 14px;
      position: relative;
      top: 35%;
      left: 1px;
    }
    .carde{
        height: 30px;
        width: 30px!important;
        border: 1px solid black;
        margin: 1px;
        border-radius: 2px;
    }
    .carde svg{
      position: relative;
      right: 13px;
    }
    .boite1{
        height: 30px;
        width: 30px;
        border: 1px solid #0078AA;
        margin: 10px;
    }
    .boitelong{
        height: 30px;
        width: 60%;
        border: 1px solid #0078AA;
        margin-top: 10px;
    }
    input{
        width: 70%;
        height: 25px!important;
        border: none;
        background: none;
    }
    input:active{
        border: none!important;
    }
    svg{
        text-align: left;
    }
    .se {
        margin-right: 20px;
      }
      .caract-icon{
        width: 110px;
        height: 60px;
        background-color: #EBEBEB;
        border-radius: 5px 5px 0px 0px;
        border-bottom: 2px solid #FF6600;
      }
      .tab-price{
        background-color: white;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.20);
        padding-bottom: 10px;
      }
      .count-card{
        border: 1px solid black;
        width: 70px!important;
        height: 30px;
        border-radius: 5px;
    }
    .count{
        margin-right: 30px;
         margin-left: 15px;
    }
    .svg-container .col {
        margin: 0; 
        padding: 0; 
        line-height: 1; 
      }
    
      .svg-container .col + .col {
        margin-top: -3px; 
      }
      .button{
        background-color: #FF6600;
        border-radius: 5px;
        padding: 5px;
        margin-top: 10px;
        color: white;
        text-align: center;
      }
      thead{
        background-color: #FF6600;
        border: none!important;
        text-decoration: none!important;
        color: white;
      }
      .voiture-img img{
        height: 63px;
        width: 100%;
        background-color: white;
        padding: 10px;
}
