<div class="container-fuild mt-5">
    <div class="row info-bar">
        <div class="col-md-3 fw-bold py-2">
            Vehicule>Recherche assistée
        </div>
        <div class="col-md-7"></div>
        <div class="col-md-2 text-center mx-auto d-flex">
            <div class="reload">
              <svg width="40" height="40" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 25C12.2083 25 9.84375 24.0312 7.90625 22.0938C5.96875 20.1562 5 17.7917 5 15C5 12.2083 5.96875 9.84375 7.90625 7.90625C9.84375 5.96875 12.2083 5 15 5C16.4375 5 17.8125 5.29667 19.125 5.89C20.4375 6.48333 21.5625 7.3325 22.5 8.4375V5H25V13.75H16.25V11.25H21.5C20.8333 10.0833 19.9221 9.16667 18.7662 8.5C17.6104 7.83333 16.355 7.5 15 7.5C12.9167 7.5 11.1458 8.22917 9.6875 9.6875C8.22917 11.1458 7.5 12.9167 7.5 15C7.5 17.0833 8.22917 18.8542 9.6875 20.3125C11.1458 21.7708 12.9167 22.5 15 22.5C16.6042 22.5 18.0521 22.0417 19.3438 21.125C20.6354 20.2083 21.5417 19 22.0625 17.5H24.6875C24.1042 19.7083 22.9167 21.5104 21.125 22.9062C19.3333 24.3021 17.2917 25 15 25Z" fill="#FF6600"/>
                </svg>
            </div>
            <div class="arrow">
              <svg width="40" height="40" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.78203 16.25L15.907 22.375C16.157 22.625 16.277 22.9167 16.267 23.25C16.257 23.5833 16.1266 23.875 15.8758 24.125C15.6258 24.3542 15.3341 24.4742 15.0008 24.485C14.6674 24.4958 14.3758 24.3758 14.1258 24.125L5.87578 15.875C5.75078 15.75 5.66203 15.6146 5.60953 15.4688C5.55703 15.3229 5.53161 15.1667 5.53328 15C5.53495 14.8333 5.5612 14.6771 5.61203 14.5312C5.66286 14.3854 5.7512 14.25 5.87703 14.125L14.127 5.875C14.3562 5.64583 14.6429 5.53125 14.987 5.53125C15.3312 5.53125 15.6279 5.64583 15.877 5.875C16.127 6.125 16.252 6.42208 16.252 6.76625C16.252 7.11042 16.127 7.40708 15.877 7.65625L9.78203 13.75H23.7508C24.1049 13.75 24.402 13.87 24.642 14.11C24.882 14.35 25.0016 14.6467 25.0008 15C24.9999 15.3533 24.8799 15.6504 24.6408 15.8913C24.4016 16.1321 24.1049 16.2517 23.7508 16.25H9.78203Z" fill="white"/>
                </svg>
          </div>
        </div>
        

    </div>
    <div class="row" style="width: 100%!important;">
        <div class="col-md-3 " style="margin-bottom: 10px; margin-top: 5px;">
            <div class="searchbar-card mx-1 mt-3">
                <div class="texte">
                    Recherche rapide
                </div>
                <div class="mt-3 searchbar">
                    Immatriculation
                    <div class="input-group search">
                        <input
                          type="text"
                          id="searchInput"
                          class="form-control"
                          placeholder="Rechercher..."
                          aria-label="Rechercher"
                        />
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                </div>
                <div class="mt-3 mb-3 searchbar">
                    Type Mines, CNIT, VIN
                    <div class="input-group search">
                        <input
                          type="text"
                          id="searchInput"
                          class="form-control"
                          placeholder="Rechercher"
                          aria-label="Rechercher"
                        />
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                </div>
            </div>
            <!-- sec -->
            <div class="searchbar-card mx-1 mt-3">
                <div class="texte">
                    Recherche par critere
                </div>
                <div class="mt-3 row searchbar-2">
                   <div class="d-flex ">
                     <div class="col-md-4 mt-1">
                        Marque
                    </div>
                    <div class="col-md-8" (click)="toggleSearchBar()" style="cursor: pointer;">
                        <div *ngIf="showSearchBar" class="input-group input">
                            <input
                              type="text"
                              id="searchInput"
                              class="form-control"
                              placeholder="Rechercher..."
                              aria-label="Rechercher"
                            />
                            <button class="btn btn-primary" type="button">
                              <i class="fas fa-search mb-2"></i>
                            </button>
                          </div>
                    </div>
                   </div>
                   <div class="d-flex ">
                     <div class="col-md-4 mt-1">
                        Modele
                    </div>
                    <div class="col-md-8" (click)="toggleSearchBar()" style="cursor: pointer;">
                        <div *ngIf="showSearchBar" class="input-group input">
                            <input
                              type="text"
                              id="searchInput"
                              class="form-control"
                              placeholder="Rechercher..."
                              aria-label="Rechercher"
                            />
                            <button class="btn btn-primary" type="button">
                              <i class="fas fa-search mb-2"></i>
                            </button>
                          </div>
                    </div>
                   </div>
                   <div class="d-flex ">
                     <div class="col-md-4 mt-1">
                        Date MEC
                    </div>
                    <div class="col-md-8" (click)="toggleSearchBar()" style="cursor: pointer;">
                        <div *ngIf="showSearchBar" class="input-group input">
                            <input
                              type="text"
                              id="searchInput"
                              class="form-control"
                              placeholder="Rechercher..."
                              aria-label="Rechercher"
                            />
                            <button class="btn btn-primary" type="button">
                              <i class="fas fa-search mb-2"></i>
                            </button>
                          </div>
                    </div>
                   </div>
                   <div class="d-flex ">
                     <div class="col-md-4 mt-1">
                        Carburant
                    </div>
                    <div class="col-md-8" (click)="toggleSearchBar()" style="cursor: pointer;">
                        <div *ngIf="showSearchBar" class="input-group input">
                            <input
                              type="text"
                              id="searchInput"
                              class="form-control"
                              placeholder="Rechercher..."
                              aria-label="Rechercher"
                            />
                            <button class="btn btn-primary" type="button">
                              <i class="fas fa-search mb-2"></i>
                            </button>
                          </div>
                    </div>
                   </div>
                   <div class="d-flex ">
                     <div class="col-md-4 mt-1">
                        Cylindrée
                    </div>
                    <div class="col-md-8" (click)="toggleSearchBar()" style="cursor: pointer;">
                        <div *ngIf="showSearchBar" class="input-group input">
                            <input
                              type="text"
                              id="searchInput"
                              class="form-control"
                              placeholder="Rechercher..."
                              aria-label="Rechercher"
                            />
                            <button class="btn btn-primary" type="button">
                              <i class="fas fa-search mb-2"></i>
                            </button>
                          </div>
                    </div>
                   </div>
                   <div class="d-flex ">
                     <div class="col-md-4 mt-1">
                        Type moteur
                    </div>
                    <div class="col-md-8" (click)="toggleSearchBar()" style="cursor: pointer;">
                        <div *ngIf="showSearchBar" class="input-group input">
                            <input
                              type="text"
                              id="searchInput"
                              class="form-control"
                              placeholder="Rechercher..."
                              aria-label="Rechercher"
                            />
                            <button class="btn btn-primary" type="button">
                              <i class="fas fa-search mb-2"></i>
                            </button>
                          </div>
                    </div>
                   </div>
                   <div class="d-flex ">
                     <div class="col-md-4 mt-1">
                        BV
                    </div>
                    <div class="col-md-8" (click)="toggleSearchBar()" style="cursor: pointer;">
                        <div *ngIf="showSearchBar" class="input-group input">
                            <input
                              type="text"
                              id="searchInput"
                              class="form-control"
                              placeholder="Rechercher..."
                              aria-label="Rechercher"
                            />
                            <button class="btn btn-primary" type="button">
                              <i class="fas fa-search mb-2"></i>
                            </button>
                          </div>
                    </div>
                   </div>
                   <div class="d-flex ">
                     <div class="col-md-4 mt-1">
                        NB rapports
                    </div>
                    <div class="col-md-8" (click)="toggleSearchBar()" style="cursor: pointer;">
                        <div *ngIf="showSearchBar" class="input-group input">
                            <input
                              type="text"
                              id="searchInput"
                              class="form-control"
                              placeholder="Rechercher..."
                              aria-label="Rechercher"
                            />
                            <button class="btn btn-primary" type="button">
                              <i class="fas fa-search mb-2"></i>
                            </button>
                          </div>
                    </div>
                   </div>
                   <div class="d-flex ">
                     <div class="col-md-4 mt-1">
                        Carosserie
                    </div>
                    <div class="col-md-8" (click)="toggleSearchBar()" style="cursor: pointer;">
                        <div *ngIf="showSearchBar" class="input-group input">
                            <input
                              type="text"
                              id="searchInput"
                              class="form-control"
                              placeholder="Rechercher..."
                              aria-label="Rechercher"
                            />
                            <button class="btn btn-primary" type="button">
                              <i class="fas fa-search mb-2"></i>
                            </button>
                          </div>
                    </div>
                   </div>
                   <div class="d-flex ">
                     <div class="col-md-4 mt-1">
                        nb. portes
                    </div>
                    <div class="col-md-8" (click)="toggleSearchBar()" style="cursor: pointer;">
                        <div *ngIf="showSearchBar" class="input-group input">
                            <input
                              type="text"
                              id="searchInput"
                              class="form-control"
                              placeholder="Rechercher..."
                              aria-label="Rechercher"
                            />
                            <button class="btn btn-primary" type="button">
                              <i class="fas fa-search"></i>
                            </button>
                          </div>
                    </div>
                   </div>
                   <div class="d-flex">
                     <div class="col-md-4 mt-1">
                        puiss. fiscale
                    </div>
                    <div class="col-md-8" (click)="toggleSearchBar()" style="cursor: pointer;">
                        <div *ngIf="showSearchBar" class="input-group input">
                            <input
                              type="text"
                              id="searchInput"
                              class="form-control"
                              placeholder="Rechercher..."
                              aria-label="Rechercher"
                            />
                            <button class="btn btn-primary" type="button">
                              <i class="fas fa-search mb-2"></i>
                            </button>
                          </div>
                    </div>
                   </div>
                </div>
            </div>
        </div>

        <div class="col-md-9 body-card">
            <div class="col d-flex">
                <nav class="navbar navbar-expand-md navbar-dark mt-3">
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav nav-pills navbar-nav ">
                            <li class="nav-item ">
                                <a class="nav-link" routerLink="/navbar/marque-vehicule" routerLinkActive="active">Tous les vehicule</a>
                            </li>
                            <li class="nav-item items">
                                <a class="nav-link"  routerLinkActive="active">Vehicule hors base</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="row py-4">
                <div class="col-md-2">
                    <div class="card" style="width: 10rem;" (click)="navigate()" type="submit">
                        <img class="card-img-top" src="../../../assets/images/voiture.png" alt="Card image cap">
                        <div class="sub">
                          <h6 class="card-title text-center">FORD ( EU )</h6>
                        </div>
                      </div>
                </div>
                <div class="col-md-2">
                    <div class="card" style="width: 10rem;">
                        <img class="card-img-top" src="../../../assets/images/voiture.png" alt="Card image cap">
                        <div class="sub">
                          <h6 class="card-title text-center">Audi</h6>
                        </div>
                      </div>
                </div>
                <div class="col-md-2">
                    <div class="card" style="width: 10rem;">
                        <img class="card-img-top" src="../../../assets/images/piece.png" alt="Card image cap">
                        <div class="sub">
                          <h6 class="card-title text-center">Hummer</h6>
                        </div>
                      </div>
                </div>
                <div class="col-md-2">
                    <div class="card" style="width: 10rem;">
                        <img class="card-img-top" src="../../../assets/images/piece.png" alt="Card image cap">
                        <div class="sub">
                          <h6 class="card-title text-center">Hyundai</h6>
                        </div>
                      </div>
                </div>
                <div class="col-md-2">
                    <div class="card" style="width: 10rem;">
                        <img class="card-img-top" src="../../../assets/images/piece.png" alt="Card image cap">
                        <div class="sub">
                          <h6 class="card-title text-center">Infinity</h6>
                        </div>
                      </div>
                </div>
                <div class="col-md-2">
                    <div class="card" style="width: 6rem;">
                        <img class="card-img-top" src="../../../assets/images/piece.png" alt="Card image cap">
                        <div class="sub">
                          <h6 class="card-title text-center">MAN</h6>
                        </div>
                      </div>
                </div>
                <div class="col-md-2">
                    <div class="card" style="width: 10rem;">
                        <img class="card-img-top" src="../../../assets/images/piece.png" alt="Card image cap">
                        <div class="sub">
                          <h6 class="card-title text-center">Lexus</h6>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 10rem;">
                        <img class="card-img-top" src="../../../assets/images/piece.png" alt="Card image cap">
                        <div class="sub">
                          <h6 class="card-title text-center">Mercedes</h6>
                        </div>
                      </div>
                </div>

            </div>
        </div>
    </div>
</div>