.container-fluid {
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  /* Section configuration */
  .config-section {
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 1px solid #ddd;
  }
  
  .config-section h5 {
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Section des voitures */
  .car-section {
    padding: 10px;
  }
  
  .car-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    text-align: center;
  }
  
  .car-image img {
    width: 70%;
    max-height: 250px;
    object-fit: cover;
  }
  
  .car-info {
    margin-top: 10px;
  }
  
  .badge {
    font-size: 16px;
    padding: 5px 10px;
  }
  
  .plate {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin: 5px 0;
  }
  
  /*.mileage {
    font-size: 16px;
    color: #555;
  }*/
  
  .subtext {
    font-size: 14px;
    color: #777;
  }
  
  /* Section Modèle et Document */
  .model-document-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #EBEBEB;
  }
  
  .model-section {
    width: 60%;
  }
  
  .model-section h6 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .model-section p {
    margin: 0;
    font-size: 14px;
    color: #555;
  }
  
  .document-image {
    width: 35%;
  }
  
  .document-image img {
    width: 200PX;
    max-height: 412px;
    object-fit: contain;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .car-info .plate {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    padding: 20px 90px;
    margin: 5px 10px;
    height: 62px;
    text-align: center;
    left: 10PX;
    width: 55px;
  }
  .v421_54 {
    width: 335px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    overflow: hidden;
  }
  .v421_55 {
    width: 50px;
    height: 58px;
    background: rgba(255,102,0,1);
    opacity: 1;
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v421_55BIS {
    width: 50px;
    height: 58px;
    background: rgb(22, 34, 143);
    opacity: 1;
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v421_56 {
    width: 250px;
    height: 60px;
    background: url("../../../assets/images/v421_56.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 65px;
    overflow: hidden;
  }
  .v421_57 {
    width: 22px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 6px;
    left: 14px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: left;
  }
  .v421_58 {
    width: 164px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 12px;
    left: 128px;
    font-family: Inter;
    font-weight: Extra Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .mileage-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espace entre les éléments */
  }
  
  .mileage-label {
    font-size: 16px;
    color: #555;
    text-align: center;
  }
  
  .mileage-value {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    padding: 5px 15px;
    border: 2px solid #0000ff; /* Bordure bleue */
    border-radius: 10px; /* Coins arrondis */
    background-color: #EBEBEB;
    text-align: center;
  }
  .number{
    height: 40px;
    background-color: #0C4EB1;
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 4px;
    width: 40px;
    
  }
  .matricule{
  width: 210px;
  height: 45px;
  background-image: url("../../../assets/images/v421_56.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 2px;
  font-size: 28px;
  font-weight: bold;
  }
