<div class="container-fluid py-3">
    <div class="row">
      <!-- Section de configuration -->
      <div class="col-md-3 config-section">
        <h5>Configuration</h5>
      </div>
  
      <!-- Section des informations sur les voitures -->
      <div class="col-md-9 car-section">
        <div class="row">
           <!-- Première voiture -->
        <div class="col-md-4 car-box">
          <div class="car-image">
            <img src="assets/images/firstcar.png" alt="Car 1" class="img-fluid" />
          </div>
            <div>
              <div class="immat d-flex mb-3">
                <div class="number mx-3 mt-1">1</div>
                <div class="matricule">DP131NH</div>
            </div>
            </div>
      </div>

      <!-- Deuxième voiture -->
      <div class="col-md-4 car-box">
        <div class="car-image">
          <img src="assets/images/secondcar.png" alt="Car 2" class="img-fluid" />
        </div>
        <div>
          <div class="immat d-flex mb-3">
            <div class="number mx-3 mt-1 " style="background-color: #ff6600;">2</div>
            <div class="matricule">DP131NH</div>
        </div>
        </div>  
    </div>
  
        <!-- Section Modèle et Document (indépendante) -->
        <div class="model-document-container mt-4">
          <div class="d-flex justify-content-between">
            <!-- Section modèle -->
            <div class="model-section">
              <h6>Modèle</h6>
              <p>RENAULT Scenic II 1.9 dCi 120cv</p>
              <p>Code moteur: F9Q812</p>
              <p>Code de boîte: NDO</p>
              <p>Date 1ère immat.: 24/09/2003</p>
              <p>VIN: VF1JMOG629452528</p>
            </div>
            <!-- Image du document -->
            <div class="document-image ms-3">
              <img src="assets/images/cartegrise.png" alt="Document" class="img-fluid" />
            </div>
          </div>
        </div>
