<div class="col">
    > Information du client
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">1</div>
        <div class="col-md-9 forme">
            <div class="row" style="margin-left: 10px; margin-top: 5%;">
                <div class="col-md-5">
                    <label for="floatingPassword">Nom</label>
                    <div class="col-10  mb-4">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Ex: Diaz"
                          name="email"
                        />
                      </div>
                </div>
                <div class="col-md-5">
                    <label for="floatingPassword">Prenom</label>
                    <div class="col-10 mb-4">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Ex: Mamoud"
                          name="email"
                        />
                      </div>
                </div>
                <div class="col-md-5">
                    <label for="floatingPassword">Portable</label>
                    <div class="col-10 mb-4">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Ex: 33 07 344 345"
                          name="email"
                        />
                      </div>
                </div>
                <div class="col-md-5">
                    <label for="floatingPassword">Email</label>
                    <div class="col-10 mb-4">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Ex: example@gmail.com"
                          name="email"
                        />
                      </div>
                </div>
                <div class="col-md-5">
                    <label for="floatingPassword">Adresse</label>
                    <div class="col-10 mb-4">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Ex: Paris, 92"
                          name="email"
                        />
                      </div>
                </div>
                <div class="col-md-5">
                    <label for="floatingPassword">Ville</label>
                    <div class="col-10 mb-4">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Ex: Renne"
                          name="email"
                        />
                      </div>
                </div>
                <div class="col-md-5">
                    <label for="floatingPassword">Code postal</label>
                    <div class="col-10 mb-4">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Ex: 000001"
                          name="email"
                        />
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 mx-5">
                    <div class="btn save">Sauvegarder</div>
                </div>
                <div class="col-md-5">
                    <div class="btn cancel">Annuler</div>
                </div>
            </div>
        </div>
    </div>
</div>