<div class="col">
    > Information garage
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">1</div>
        <div class="col-md-9 forme">
            <div class="row" style=" margin-top: 1%;">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="floatingPassword">Nom du garage</label>
                            <div class="col-11  mb-2">
                                <input
                                  type="text"
                                  class="form-control"
                                  placeholder="Ex: Diaz"
                                  name="email"
                                />
                              </div>
                        </div>
                        <div class="col-md-5"></div>
                        <div class="col-md-5">
                            <label for="floatingPassword">Nom</label>
                            <div class="col-11  mb-2">
                                <input
                                  type="text"
                                  class="form-control"
                                  placeholder="Ex: Diaz"
                                  name="email"
                                />
                              </div>
                        </div>
                        <div class="col-md-5">
                            <label for="floatingPassword">Prenom</label>
                            <div class="col-11  mb-2">
                                <input
                                  type="text"
                                  class="form-control"
                                  placeholder="Ex: Mamoud"
                                  name="email"
                                />
                              </div>
                        </div>
                        <div class="col-md-5">
                            <label for="floatingPassword">Portable</label>
                            <div class="col-11  mb-2">
                                <input
                                  type="text"
                                  class="form-control"
                                  placeholder="Ex: 33 07 344 345"
                                  name="portable"
                                />
                              </div>
                        </div>
                        <div class="col-md-5">
                            <label for="floatingPassword">Telephone</label>
                            <div class="col-11  mb-2">
                                <input
                                  type="text"
                                  class="form-control"
                                  placeholder="Ex: 33 07 344 345"
                                  name="telephone"
                                />
                              </div>
                        </div>
                        <div class="col-md-5">
                            <label for="floatingPassword">Email</label>
                            <div class="col-11  mb-2">
                                <input
                                  type="text"
                                  class="form-control"
                                  placeholder="Ex: example@gmail.com"
                                  name="email"
                                />
                              </div>
                        </div>
                        <div class="col-md-5">
                            <label for="floatingPassword">Numero de siret</label>
                            <div class="col-11  mb-2">
                                <input
                                  type="text"
                                  class="form-control"
                                  placeholder="Ex: Numero de siret"
                                  name="email"
                                />
                              </div>
                        </div>
                        <div class="col-md-5">
                            <label for="floatingPassword">Adresse</label>
                            <div class="col-11  mb-2">
                                <input
                                  type="text"
                                  class="form-control"
                                  placeholder="Ex: paris, 92"
                                  name="email"
                                />
                              </div>
                        </div>
                        <div class="col-md-2">
                            <label for="floatingPassword">Ville</label>
                            <div class="col-12  mb-4">
                                <input
                                  type="text"
                                  class="form-control"
                                  placeholder="Ex: Renne"
                                  name="email"
                                />
                              </div>
                        </div>
                        <div class="col-md-3">
                            <label for="floatingPassword">Code postal</label>
                            <div class="col-10 mb-4">
                                <input
                                  type="text"
                                  class="form-control"
                                  placeholder="Ex: 00001"
                                  name="email"
                                />
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="carte">
                        carte
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mx-5">
                        <div class="btn save">Sauvegarder</div>
                    </div>
                    <div class="col-md-5">
                        <div class="btn cancel">Annuler</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>