<div class="col">
    > Information garage
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            1
        </div>
        <div class="col-md-10">
            <h5>VEHICULE</h5>

            <div class="row">
                <div class="col-md-6">
                    1
                </div>
                <div class="col-md-3">
                    1
                </div>
                <div class="col-md-3">
                    1
                </div>
            </div>

            <h5>SELECTION DU PLAN D’ENTRETIEN</h5>
            
        </div>
    </div>
</div>