.marque-de-vehicule_340-47 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 1728px;
  height: 1205px;
}
.text-citroen-c3-i-fc---fn---1-6-16v-hdi_340-48 {
  top: -171px;
  left: 1055px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 185px;
  height: 21px;
}

.text-10-2005---12-2009_340-49 {
  top: -171px;
  left: 1319px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 143px;
  height: 21px;
}

.material-symbols-light-print_340-50 {
  top: -168px;
  left: 926px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_340-51 {
  top: 6px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-483_340-52 {
  top: 150px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-ajouter-au-panier_340-87 {
  top: 981px;
  left: 1459px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 174px;
  height: 27px;
}

.header_340-96 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 1728px;
  height: 150px;
}
.rectangle-482_340-97 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-484_340-99 {
  top: 56px;
  left: 14px;
  position: absolute;
  display: flex;
  display: flex;
}

.menu-item_340-100 {
  top: 43px;
  left: 213px;
  position: absolute;
  display: flex;
  width: 1481px;
  height: 78px;
}
.text-proposition-1v-_340-101 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 203px;
  height: 27px;
}

.text-stock_340-102 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 80px;
  height: 27px;
}

.text-eteint_340-103 {
  color: a#d9d9d9;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 64px;
  height: 27px;
}

.text-allume_340-104 {
  color: #d9d9d9;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 87px;
  height: 27px;
}

.text-actif_340-105 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 56px;
  height: 19px;
}

.text-bon-de-materiel_340-106 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 218px;
  height: 27px;
}

.text-bon-de-commande-collectif_340-107 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 318px;
  height: 27px;
}

.ellipse-93_340-108 {
  display: flex;
}

.ellipse-94_340-109 {
  display: flex;
}

.ellipse-95_340-110 {
  display: flex;
}

.bi-person-circle_340-111 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.group_340-112 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
}
.vector_340-113 {
  display: flex;
}

.vector_340-114 {
  display: flex;
}

.guidance-shop_340-115 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_340-116 {
  top: 2px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-mon-panier_340-117 {
  color: #ffffff;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 92px;
  height: 18px;
}

.text-mon-compte_340-118 {
  color: #ffffff;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 103px;
  height: 18px;
}

.footer_340-394 {
  top: 1090px;
  left: 473px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 1728px;
  height: 104px;
}
.rectangle-541_340-395 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.foot_340-396 {
  top: 40px;
  left: 554px;
  position: absolute;
  display: flex;
  width: 621px;
  height: 24px;
}
.text-declaration-de-confidentialit-_340-397 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 290px;
  height: 24px;
}

.text-licence_340-398 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 77px;
  height: 24px;
}

.text-mention-legale_340-399 {
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 146px;
  height: 24px;
}

.line-35_340-400 {
  display: flex;
}

.line-36_340-401 {
  display: flex;
}

.text-vehicule---recherche-assist-e_348-403 {
  top: 167px;
  left: 14px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 304px;
  height: 18px;
}

.ellipse-96_348-416 {
  top: 158px;
  left: 1588px;
  position: absolute;
  display: flex;
  display: flex;
}

.ellipse-97_348-417 {
  top: 158px;
  left: 1654px;
  position: absolute;
  display: flex;
  display: flex;
}

.material-symbols-refresh_348-414 {
  top: 163px;
  left: 1593px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_348-415 {
  top: 5px;
  left: 5px;
  position: absolute;
  display: flex;
  display: flex;
}

.material-symbols-arrow-back-rounded_348-412 {
  top: 163px;
  left: 1659px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_348-413 {
  top: 6px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-549_348-419 {
  top: 226px;
  left: 470px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-562_378-866 {
  top: 231px;
  left: 473px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-563_378-867 {
  top: 236px;
  left: 480px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-tous-les-vehicules_348-422 {
  top: 249px;
  left: 503px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 217px;
  height: 23px;
}

.text-vehicules-hors-base_352-433 {
  top: 249px;
  left: 788px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 237px;
  height: 23px;
}

.marque_352-452 {
  top: 300px;
  left: 486px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_352-434 {
  display: flex;
}

.rectangle-559_352-449 {
  display: flex;
}

.text-ford---eu-_352-450 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 50px;
  height: 37px;
}

.rectangle-560_352-451 {
  display: flex;
}

.marque_378-578 {
  top: 463px;
  left: 486px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-579 {
  display: flex;
}

.rectangle-559_378-580 {
  display: flex;
}

.text-ford---eu-_378-581 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 50px;
  height: 37px;
}

.rectangle-560_378-582 {
  display: flex;
}

.marque_378-658 {
  top: 626px;
  left: 486px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-659 {
  display: flex;
}

.rectangle-559_378-660 {
  display: flex;
}

.text-ford---eu-_378-661 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 50px;
  height: 37px;
}

.rectangle-560_378-662 {
  display: flex;
}

.marque_378-698 {
  top: 789px;
  left: 486px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-699 {
  display: flex;
}

.rectangle-559_378-700 {
  display: flex;
}

.text-ford---eu-_378-701 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 50px;
  height: 37px;
}

.rectangle-560_378-702 {
  display: flex;
}

.marque_378-826 {
  top: 952px;
  left: 486px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-827 {
  display: flex;
}

.rectangle-559_378-828 {
  display: flex;
}

.text-ford---eu-_378-829 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 50px;
  height: 37px;
}

.rectangle-560_378-830 {
  display: flex;
}

.marque_352-453 {
  top: 300px;
  left: 637px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_352-454 {
  display: flex;
}

.rectangle-559_352-455 {
  display: flex;
}

.text-audi_352-456 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 38px;
  height: 18px;
}

.rectangle-560_352-457 {
  display: flex;
}

.marque_378-583 {
  top: 463px;
  left: 637px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-584 {
  display: flex;
}

.rectangle-559_378-585 {
  display: flex;
}

.text-audi_378-586 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 38px;
  height: 18px;
}

.rectangle-560_378-587 {
  display: flex;
}

.marque_378-663 {
  top: 626px;
  left: 637px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-664 {
  display: flex;
}

.rectangle-559_378-665 {
  display: flex;
}

.text-audi_378-666 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 38px;
  height: 18px;
}

.rectangle-560_378-667 {
  display: flex;
}

.marque_378-703 {
  top: 789px;
  left: 637px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-704 {
  display: flex;
}

.rectangle-559_378-705 {
  display: flex;
}

.text-audi_378-706 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 38px;
  height: 18px;
}

.rectangle-560_378-707 {
  display: flex;
}

.marque_378-831 {
  top: 952px;
  left: 637px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-832 {
  display: flex;
}

.rectangle-559_378-833 {
  display: flex;
}

.text-audi_378-834 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 38px;
  height: 18px;
}

.rectangle-560_378-835 {
  display: flex;
}

.marque_352-458 {
  top: 300px;
  left: 788px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_352-459 {
  display: flex;
}

.rectangle-559_352-460 {
  display: flex;
}

.text-hummer_352-461 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 67px;
  height: 18px;
}

.rectangle-560_352-462 {
  display: flex;
}

.marque_378-588 {
  top: 463px;
  left: 788px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-589 {
  display: flex;
}

.rectangle-559_378-590 {
  display: flex;
}

.text-hummer_378-591 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 67px;
  height: 18px;
}

.rectangle-560_378-592 {
  display: flex;
}

.marque_378-668 {
  top: 626px;
  left: 788px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-669 {
  display: flex;
}

.rectangle-559_378-670 {
  display: flex;
}

.text-hummer_378-671 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 67px;
  height: 18px;
}

.rectangle-560_378-672 {
  display: flex;
}

.marque_378-708 {
  top: 789px;
  left: 788px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-709 {
  display: flex;
}

.rectangle-559_378-710 {
  display: flex;
}

.text-hummer_378-711 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 67px;
  height: 18px;
}

.rectangle-560_378-712 {
  display: flex;
}

.marque_378-836 {
  top: 952px;
  left: 788px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-837 {
  display: flex;
}

.rectangle-559_378-838 {
  display: flex;
}

.text-hummer_378-839 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 67px;
  height: 18px;
}

.rectangle-560_378-840 {
  display: flex;
}

.marque_352-463 {
  top: 300px;
  left: 939px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_352-464 {
  display: flex;
}

.rectangle-559_352-465 {
  display: flex;
}

.text-hyundi_352-466 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 57px;
  height: 17px;
}

.rectangle-560_352-467 {
  display: flex;
}

.marque_378-593 {
  top: 463px;
  left: 939px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-594 {
  display: flex;
}

.rectangle-559_378-595 {
  display: flex;
}

.text-hyundi_378-596 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 57px;
  height: 17px;
}

.rectangle-560_378-597 {
  display: flex;
}

.marque_378-673 {
  top: 626px;
  left: 939px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-674 {
  display: flex;
}

.rectangle-559_378-675 {
  display: flex;
}

.text-hyundi_378-676 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 57px;
  height: 17px;
}

.rectangle-560_378-677 {
  display: flex;
}

.marque_378-713 {
  top: 789px;
  left: 939px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-714 {
  display: flex;
}

.rectangle-559_378-715 {
  display: flex;
}

.text-hyundi_378-716 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 57px;
  height: 17px;
}

.rectangle-560_378-717 {
  display: flex;
}

.marque_378-841 {
  top: 952px;
  left: 939px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-842 {
  display: flex;
}

.rectangle-559_378-843 {
  display: flex;
}

.text-hyundi_378-844 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 57px;
  height: 17px;
}

.rectangle-560_378-845 {
  display: flex;
}

.marque_352-468 {
  top: 300px;
  left: 1090px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_352-469 {
  display: flex;
}

.rectangle-559_352-470 {
  display: flex;
}

.text-infinity_352-471 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 53px;
  height: 18px;
}

.rectangle-560_352-472 {
  display: flex;
}

.marque_378-598 {
  top: 463px;
  left: 1090px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-599 {
  display: flex;
}

.rectangle-559_378-600 {
  display: flex;
}

.text-infinity_378-601 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 53px;
  height: 18px;
}

.rectangle-560_378-602 {
  display: flex;
}

.marque_378-678 {
  top: 626px;
  left: 1090px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-679 {
  display: flex;
}

.rectangle-559_378-680 {
  display: flex;
}

.text-infinity_378-681 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 53px;
  height: 18px;
}

.rectangle-560_378-682 {
  display: flex;
}

.marque_378-718 {
  top: 789px;
  left: 1090px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-719 {
  display: flex;
}

.rectangle-559_378-720 {
  display: flex;
}

.text-infinity_378-721 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 53px;
  height: 18px;
}

.rectangle-560_378-722 {
  display: flex;
}

.marque_378-846 {
  top: 952px;
  left: 1090px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-847 {
  display: flex;
}

.rectangle-559_378-848 {
  display: flex;
}

.text-infinity_378-849 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 53px;
  height: 18px;
}

.rectangle-560_378-850 {
  display: flex;
}

.marque_352-473 {
  top: 300px;
  left: 1241px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_352-474 {
  display: flex;
}

.rectangle-559_352-475 {
  display: flex;
}

.text-man_352-476 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 38px;
  height: 18px;
}

.rectangle-560_352-477 {
  display: flex;
}

.marque_378-603 {
  top: 463px;
  left: 1241px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-604 {
  display: flex;
}

.rectangle-559_378-605 {
  display: flex;
}

.text-man_378-606 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 38px;
  height: 18px;
}

.rectangle-560_378-607 {
  display: flex;
}

.marque_378-683 {
  top: 626px;
  left: 1241px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-684 {
  display: flex;
}

.rectangle-559_378-685 {
  display: flex;
}

.text-man_378-686 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 38px;
  height: 18px;
}

.rectangle-560_378-687 {
  display: flex;
}

.marque_378-723 {
  top: 789px;
  left: 1241px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-724 {
  display: flex;
}

.rectangle-559_378-725 {
  display: flex;
}

.text-man_378-726 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 38px;
  height: 18px;
}

.rectangle-560_378-727 {
  display: flex;
}

.marque_378-851 {
  top: 952px;
  left: 1241px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-852 {
  display: flex;
}

.rectangle-559_378-853 {
  display: flex;
}

.text-man_378-854 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 38px;
  height: 18px;
}

.rectangle-560_378-855 {
  display: flex;
}

.marque_352-478 {
  top: 300px;
  left: 1392px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_352-479 {
  display: flex;
}

.rectangle-559_352-480 {
  display: flex;
}

.text-lexus_352-481 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 45px;
  height: 18px;
}

.rectangle-560_352-482 {
  display: flex;
}

.marque_378-608 {
  top: 463px;
  left: 1392px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-609 {
  display: flex;
}

.rectangle-559_378-610 {
  display: flex;
}

.text-lexus_378-611 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 45px;
  height: 18px;
}

.rectangle-560_378-612 {
  display: flex;
}

.marque_378-688 {
  top: 626px;
  left: 1392px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-689 {
  display: flex;
}

.rectangle-559_378-690 {
  display: flex;
}

.text-lexus_378-691 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 45px;
  height: 18px;
}

.rectangle-560_378-692 {
  display: flex;
}

.marque_378-728 {
  top: 789px;
  left: 1392px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-729 {
  display: flex;
}

.rectangle-559_378-730 {
  display: flex;
}

.text-lexus_378-731 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 45px;
  height: 18px;
}

.rectangle-560_378-732 {
  display: flex;
}

.marque_378-856 {
  top: 952px;
  left: 1392px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-857 {
  display: flex;
}

.rectangle-559_378-858 {
  display: flex;
}

.text-lexus_378-859 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 45px;
  height: 18px;
}

.rectangle-560_378-860 {
  display: flex;
}

.marque_352-483 {
  top: 300px;
  left: 1543px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_352-484 {
  display: flex;
}

.rectangle-559_352-485 {
  display: flex;
}

.text-mercedes_352-486 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 76px;
  height: 18px;
}

.rectangle-560_352-487 {
  display: flex;
}

.marque_378-613 {
  top: 463px;
  left: 1543px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-614 {
  display: flex;
}

.rectangle-559_378-615 {
  display: flex;
}

.text-mercedes_378-616 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 76px;
  height: 18px;
}

.rectangle-560_378-617 {
  display: flex;
}

.marque_378-693 {
  top: 626px;
  left: 1543px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-694 {
  display: flex;
}

.rectangle-559_378-695 {
  display: flex;
}

.text-mercedes_378-696 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 76px;
  height: 18px;
}

.rectangle-560_378-697 {
  display: flex;
}

.marque_378-733 {
  top: 789px;
  left: 1543px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-734 {
  display: flex;
}

.rectangle-559_378-735 {
  display: flex;
}

.text-mercedes_378-736 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 76px;
  height: 18px;
}

.rectangle-560_378-737 {
  display: flex;
}

.marque_378-861 {
  top: 952px;
  left: 1543px;
  position: absolute;
  display: flex;
  width: 141px;
  height: 120px;
}
.rectangle-551_378-862 {
  display: flex;
}

.rectangle-559_378-863 {
  display: flex;
}

.text-mercedes_378-864 {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 76px;
  height: 18px;
}

.rectangle-560_378-865 {
  display: flex;
}

.search-rapide_378-797 {
  top: 241px;
  left: 14px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 440px;
  height: 285px;
}
.speed-search_378-796 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 440px;
  height: 285px;
}
.rectangle-548_348-418 {
  display: flex;
}

.rectangle-550_348-420 {
  display: flex;
}

.text-recherche-rapide_378-778 {
  color: #000000;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 176px;
  height: 21px;
}

.search_378-784 {
  width: 404px;
  height: 157px;
}
.text-immatriculation_378-779 {
  color: #000000;
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 145px;
  height: 18px;
}

.rectangle-487_378-780 {
  display: flex;
}

.icon_378-791 {
  width: 44px;
  height: 35px;
}
.rectangle-561_378-781 {
  display: flex;
}

.cil-search_378-782 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_378-783 {
  top: 1px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.icon_378-792 {
  width: 44px;
  height: 35px;
}
.rectangle-561_378-793 {
  display: flex;
}

.cil-search_378-794 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_378-795 {
  top: 1px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.search_378-785 {
  width: 404px;
  height: 67px;
}
.text-type-mines--cnit--vin_378-786 {
  color: #000000;
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 224px;
  height: 23px;
}

.rectangle-487_378-787 {
  display: flex;
}

.rectangle-551_378-798 {
  top: 543px;
  left: 14px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-552_378-799 {
  top: 543px;
  left: 14px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-recherche-par-crit-re_378-800 {
  top: 568px;
  left: 124px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 218px;
  height: 21px;
}

.text-marque_378-801 {
  top: 629px;
  left: 31px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 78px;
  height: 23px;
}

.text-modele_378-802 {
  top: 667px;
  left: 31px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 78px;
  height: 23px;
}

.text-date-mec_378-803 {
  top: 705px;
  left: 31px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 94px;
  height: 23px;
}

.text-carburant_378-804 {
  top: 743px;
  left: 31px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 94px;
  height: 23px;
}

.text-cylindr-e_378-805 {
  top: 781px;
  left: 31px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 94px;
  height: 23px;
}

.text-type-moteur_378-806 {
  top: 819px;
  left: 31px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 121px;
  height: 23px;
}

.text-bv_378-807 {
  top: 857px;
  left: 31px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 94px;
  height: 23px;
}

.text-nb-rapports_378-808 {
  top: 895px;
  left: 31px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 121px;
  height: 23px;
}

.text-carrosserie_378-809 {
  top: 933px;
  left: 31px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 121px;
  height: 23px;
}

.text-nb--portes_378-810 {
  top: 971px;
  left: 31px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 121px;
  height: 23px;
}

.text-puiss--fiscale_378-811 {
  top: 1009px;
  left: 31px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 133px;
  height: 23px;
}

.rectangle-488_378-819 {
  top: 626px;
  left: 179px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_378-820 {
  top: 628px;
  left: 405px;
  position: absolute;
  display: flex;
  display: flex;
}
