<div class="col">
    > Commande piece
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            1
        </div>
        <div class="col-md-10 mt-3 mb-3 mx-auto forme">
            <div class="row">
                <div class="col-md-4">
                    <div class="img  mx-5 mb-3">
                        <img src="/../assets/images/mercedes.png" alt="voiture">
                    </div>
                    <div class="immat d-flex mb-3">
                        <div class="number mx-4 mt-1">1</div>
                        <div class="matricule">DP131NH</div>
                    </div>
                </div>
                <div class="col-md-4">secnd</div>
            </div>
            <div class="row cat mx-auto mb-3">
                <div class="col-md-3 categorie">
                    <div class="img">
                        <img src="/../assets/images/mercedes.png" alt="image">
                    </div>
                    <div class=" sub d-flex">
                        <div class="label mx-4 mt-1 fw-bold">Piece moteur</div>
                        <div class="cat-img">
                            <img src="/../assets/images/mercedes.png" alt="image">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 categorie">
                    <div class="img">
                        <img src="/../assets/images/mercedes.png" alt="image">
                    </div>
                    <div class=" sub d-flex">
                        <div class="label mx-4 mt-1 fw-bold">Piece moteur</div>
                        <div class="cat-img">
                            <img src="/../assets/images/mercedes.png" alt="image">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 categorie">
                    <div class="img">
                        <img src="/../assets/images/mercedes.png" alt="image">
                    </div>
                    <div class=" sub d-flex">
                        <div class="label mx-4 mt-1 fw-bold">Piece moteur</div>
                        <div class="cat-img">
                            <img src="/../assets/images/mercedes.png" alt="image">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 categorie">
                    <div class="img">
                        <img src="/../assets/images/mercedes.png" alt="image">
                    </div>
                    <div class=" sub d-flex">
                        <div class="label mx-4 mt-1 fw-bold">Piece moteur</div>
                        <div class="cat-img">
                            <img src="/../assets/images/mercedes.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-9 pt-3 fw-bold">
                    rechercher une reference ou nom de piece
                </div>
                <div class="col-md-3 d-flex">
                    <div class="input-group">
                        <input
                          type="text"
                          id="searchInput"
                          class="form-control"
                          placeholder="Rechercher..."
                          aria-label="Rechercher"
                        />
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search mb-2"></i>
                        </button>
                      </div>
                </div>
            </div>
            <table class="table mx-auto text-center" >
                <thead >
                  <tr class="tables">
                    <th scope="col" >Photo</th>
                    <th scope="col">Ref interne</th>
                    <th scope="col">Nom piece</th>
                    <th scope="col">Reference</th>
                    <th scope="col">Prix </th>
                    <th scope="col">Date livraison </th>
                    <th scope="col">Mettre dans panier </th>
                    <th scope="col">Rechercher sur le site </th>
                  </tr>
                </thead>
                <tbody >
                  <tr>
                    <td scope="row">
                        <img src="/../assets/images/mercedes.png" alt="image">
                    </td>
                    <td scope="row">PC001</td>
                    <td scope="row">Disques de frein AV </td>
                    <td scope="row">VALEO 197241</td>
                    <td scope="row">76.90</td>
                    <td scope="row">25/12/2023</td>
                    <td scope="row">
                        <div class="form-check  form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="form-check  form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
